@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    background-color: black;
}

* {
  scrollbar-width: none;
  user-select: none;
}

/* Scrollbar pour tous les navigateurs compatibles */
.BLACK-SCROLL-BAR::-webkit-scrollbar {
  height: 8px; /* Hauteur de la scrollbar horizontale */
  background: transparent; /* Fond de la zone de scrollbar */
}

.BLACK-SCROLL-BAR::-webkit-scrollbar-thumb {
  background: black; /* Couleur de la barre elle-même */
  border-radius: 4px; /* Arrondir les bords */
}

.BLACK-SCROLL-BAR::-webkit-scrollbar-thumb:hover {
  background: #333; /* Couleur au survol */
}

/* Compatibilité pour les navigateurs utilisant scrollbar-color */
.BLACK-SCROLL-BAR {
  scrollbar-color: gray transparent; /* Couleur du pouce et de l'arrière-plan */
  scrollbar-width: thin; /* Réduction de la largeur de la barre */
}

audio {
  display: block !important;
  visibility: visible !important;
  width: 300px !important;
  height: 50px !important;
}